@page "{id:int}"
@model CS4760Group1.Pages.GrantDetailsModel
@{
    ViewData["Title"] = "Grant Details";
}

<head>
    <link rel="stylesheet" href="~/css/GrantReview.css">
</head>

<h1>Grant Details for: @Model.Grant.Title</h1>

<table class="table">
    <tr>
        <th>Title:</th>
        <td>@Model.Grant.Title</td>
    </tr>
    <tr>
        <th>Principal Investigator (PI):</th>
        <td>@Model.Grant.PI</td>
    </tr>
    <tr>
        <th>Description:</th>
        <td>@Model.Grant.Description</td>
    </tr>
    <tr>
        <th>Type:</th>
        <td>@Model.Grant.Type</td>
    </tr>
    <tr>
        <th>Subtype:</th>
        <td>@Model.Grant.SubType</td>
    </tr>
    <tr>
        <th>Season:</th>
        <td>@Model.Grant.Season</td>
    </tr>
    <tr>
        <th>Amount from @Model.Grant.Type:</th>
        <td>@Model.Grant.Amount</td>
    </tr>
    <tr>
        <th>Amount from Other:</th>
        <td>@Model.Grant.AmountFromOther</td>
    </tr>
    <tr>
        <th>Total Amount:</th>
        <td>@Model.Grant.TotalAmount</td>
    </tr>
    <tr>
        <th>Status:</th>
        <td>@Model.Grant.Status</td>
    </tr>
</table>

<div class="grant-review-grading" id="grant-review-grading">
    <!------------------------------------------------------------------------->
    <!-- Area 1 -->
    <div>
        <h3>Area 1</h3>
        <p>Choose one of the following:</p>
        <ul>
            <li>Budget</li>
            <li>Support</li>
        </ul>
    </div>

    <div class="form-group"> <!-- Weight 3 -->
        <select id="A1" class="form-control">
            <option>0</option>
            <option>0.5</option>
            <option>1</option>
            <option>1.5</option>
            <option>2</option>
        </select>
        <span class="text-danger"></span>
    </div>

    <!-- Area 2 -->
    <div>
        <h3>Area 2</h3>
        <p>Choose one of the following:</p>
        <ul>
            <li>University or program reputation</li>
            <li>Innovative Teaching</li>
            <li>Community educational engagement</li>
        </ul>
    </div>

    <div class="form-group"> <!-- Weight 5 -->
        <select id="A2" class="form-control">
            <option>0</option>
            <option>0.5</option>
            <option>1</option>
            <option>1.5</option>
            <option>2</option>
        </select>
        <span class="text-danger"></span>
    </div>


    <!-- Area three (do all) -->

    <div>
        <h3>Area 3</h3>
        <div class="form-group">
            <label  class="control-label">Procedure and Methods:</label> <!-- Weight 1 -->
            <select id="ProcMethods" class="form-control">
                <option>0</option>
                <option>0.5</option>
                <option>1</option>
                <option>1.5</option>
                <option>2</option>
            </select>
            <span class="text-danger"></span>
        </div>
    </div>

    <div class="form-group">
        <label  class="control-label">Timeline and Budget Description:</label> <!-- Weight 1 -->
        <select id="Timeline" class="form-control">
            <option>0</option>
            <option>0.5</option>
            <option>1</option>
            <option>1.5</option>
            <option>2</option>
        </select>
        <span class="text-danger"></span>
    </div>

    <div class="form-group">
        <label  class="control-label">Evaluation and Dissemination:</label> <!-- Weight 3 -->
        <select id="EvalDissem" class="form-control">
            <option>0</option>
            <option>0.5</option>
            <option>1</option>
            <option>1.5</option>
            <option>2</option>
        </select>
        <span class="text-danger"></span>
    </div>

    <div class="form-group">
        <label  class="control-label">Evidential Documentation:</label> <!-- Weight 1 -->
        <select id="EvidenceDoc" class="form-control">
            <option>0</option>
            <option>0.5</option>
            <option>1</option>
            <option>1.5</option>
            <option>2</option>
        </select>
        <span class="text-danger"></span>
    </div>

    <input id="calcBtn" value="Calculate" type="button" class="btn btn-primary" />
</div>

<div id="grant-score" style="display: none;">
    <h3>The calculated score is: <span id="calc-score"></span></h3>
    
</div>



<form method="post" enctype="multipart/form-data">
    <div class="form-group">
        <input asp-for="GrantReview.ReviewScore" type="hidden" id="FinalScore" />
        <input type="submit" value="Submit" class="btn btn-primary" />
    </div>
</form>

<a asp-page="./GrantReview">Back to Grant Review</a>

@section Scripts {
    <script src="~/js/GrantDetails.js"></script>
}