@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="~/css/homepage.css">
</head>

<body>

    <!-- Applied Grants Section -->
    <div id="AppliedGrants">

        <h1>Applied Grants</h1>

        <div class="grants-container">
            @foreach (var grant in Model.Grants)
            {
                <div class="grant-card">
                    <div class="grant-header">
                        <h2 class="grant-title">@grant.Title</h2>
                        <span class="grant-status @grant.StatusClass">@grant.Status</span>
                    </div>
                    <p>Type: @grant.Type</p>
                    <p>Duration: @grant.Duration months</p>
                    <p>Amount: $@grant.Amount.00</p>
                </div>
            }
        </div>

    </div>

    <!-- Approved Grants Section -->
    <div id="ApprovedGrants">

    </div>

     <!-- Upcoming Grants Section -->
    <div id="UpcomingDeadlines">

        <h1>Upcoming Deadlines</h1>

        <div class="grants-container">

            @foreach (var deadline in Model.Deadlines)
            {
                <div class="grant-card">
                    <div class="deadline-header">
                        <h2 class="grant-type">@deadline.GrantType</h2>
                    </div>
                    <p>Due: @deadline.Date</p>
                </div>
            }
        </div>
    </div>



</body>
